<main>
<br>
<form action='/lesson/{{endpoint}}' method='POST'>
	<label for="lessonTitle">Title</label>
	<br>
	<input type="text" class="lessonTitle" name="lessonTitle" value="{{lessonName}}"/>
	<br>
	<label for="lessonTags">Tags</label>
	<input type="text" name="lessonTags"/>
	<!-- format this in the routes -->
	<p>{{lessonTags}}</p>
	<div id="lessonBody"></div>
	
	{{#each questions}}
		<p>{{this.questionText}}</p>
		<label>Answer&#10;<input type="text" name="question{{@index}}" value="{{this.reply}}"/></label>
	{{/each}}
	
	<br>
	<input type="submit" value="Save Changes"/>
</form>

<a href="/home">Cancel</a>

</main>

<script type="text/javascript">
	FroalaEditor.DefineIcon('dropdown', {NAME: 'add', SVG_KEY: 'add'});
  	FroalaEditor.RegisterCommand('dropdown', {
    	title: 'Tool Icons',
    	type: 'dropdown',
    	focus: false,
    	undo: false,
    	refreshAfterCallback: true,
    	options: {
    		// icons go here
      		'v1': 'Option 1',
      		'v2': 'Option 2'
    	},
    	callback: function (cmd, val) {
      		this.html.insert(val);
      		this.undo.saveStep();
      		console.log (val);
    	},
    	// Callback on refresh.
    	refresh: function ($btn) {
      		console.log ('do refresh');
    	},
    	// Callback on dropdown show.
    	refreshOnShow: function ($btn, $dropdown) {
      		console.log ('do refresh when show');
    	}
  	});
	
	let editor = new FroalaEditor('#lessonBody', {
		charCounterCount: false,
		toolbarButtons: ['bold','italic','underline','|','paragraphFormat','formatOL','formatUL','specialCharacters','dropdown','|','print'],
		quickInsertEnabled: false
	});
</script>