<!-- display relevant lesson list -->
<h1 class ='title'>Home</h1>

<div class = 'flex-child'>
    <!-- for students this is recently viewed, for instructors it's owned lessons -->
    <h2>{{heading}}</h2>

    {{{newLesson}}}
    <!-- for instructors -->

    <ul>
        {{#each firstLessonList}}
            <li><a href='/lesson/edit/{{this.id}}'>{{this.name}}</a></li>
        {{/each}}
    </ul>
</div>

<!-- this list appears to students only -->
<div class = 'flex-child'>

    <form id='search' method="post">
        <br />
        <h1 class ='title'>All Lessons</h1>
        <br />
        <br />
        <label for 'searchTerm' class='subtitle'>Search by Tag</label>
        <br />

        <input type='text' name='searchTerm'/>
        <br />
        <br />
        <br />
        <button type='submit' >Submit</button>
        <br />
        <br />
        <br />
    </form>

    <ul>
        {{#each secondLessonList}}
            <li class='subtitle'><a href='/lesson/view/{{this.id}}'>{{this.name}}</a></li>
        {{/each}}
    </ul>

</div>