<nav id="lesson-list">
	<ul>
		{{#each lessons}}
		<li><a href='/lesson/view/{{this.id}}'>{{this.name}}</a></li>
		{{/each}}
	</ul>
</nav>

<main>
	<h1>{{lessonName}}</h1>
	<h2>Author: {{authorName}}</h2>
	<p id="lessonTags">{{lessonTags}}</p>
	<p>{{{lessonText}}}</p>
</main>