<nav id="lesson-list">
	<ul>
		{{#each lessons}}
		<li><a href='/lesson/view/{{this.id}}'>{{this.name}}</a></li>
		{{/each}}
	</ul>
</nav>

<div class='flex-container'>
	<main>
		<h1>{{lessonName}}</h1>
		<h2>Author: {{authorName}}</h2>
		<p id="lessonTags">{{lessonTags}}</p>
		<p>{{{lessonText}}}</p>
		
		<form id="askQuestion" method="post">
			<label>Ask Question<br><input type="text" name="question"></label>
			<button type='submit'>Submit</button>
		</form>
		
		{{#each questions}}
			<h4>{{this.question}}</h4>
			<p>{{this.reply}}</h4>
		{{/each}}
	</main>
</div>