<!-- this view is for students taking a quiz -->

<h1>{{quizTitle}}</h2>

<form id="quiz">

{{#each questions}}
	<label for="question{{@index}}">{{this.question}}</label>
	<label><input type="radio" name="question{{@index}}" value="A"> {{this.options[0]}}</label>
	<label><input type="radio" name="question{{@index}}" value="B"> {{this.options[1]}}</label>
	<label><input type="radio" name="question{{@index}}" value="C"> {{this.options[2]}}</label>
	<label><input type="radio" name="question{{@index}}" value="D"> {{this.options[3]}}</label>
	<br>
{{/each}}

<input type="submit">

</form>